body {
    background: #C2C6CE;
    margin: 0 0 0 0;
    padding: 0%;
    font-family: 'Noto Sans', sans-serif;
}

hr{
    color: #C2C6CE;
}

h2{
    margin: 30px 0 0 10px;
    display: inline;
    margin-right: 49%;
}

h1 {
    background: white;
    width: auto;
}

.paragraph{
    color: #C2C6CE;
    padding: 0;
    margin: 0;

    position: relative;
    display: inline;
}

.paragraphInside{

    margin: 0;
    margin-left: 15px;
    padding-bottom: 0;
}

img {
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 500px;
    height: auto;
    padding-top:15px;
    padding-bottom: 15px;
}

#container{
    background: #C2C6CE;

}
#title{
    display: flex;
    background: white;
}

#titleh1{
    display: flex;
    height: 50px;
    width: 600px;
    margin-left: 25%;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
}

#firstDiv{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 500px;
    height: auto;
    background: white;
    border-radius: 5px;
    padding: 20px 0 20px 0;

}

#secondDiv{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 500px;
    height: auto;
    background: white;
    border-radius: 5px;
    margin-top: 40px;
    padding: 20px 0 20px 0;

}

#thirdDiv{
    display: block;
    margin: auto;
    width: 500px;
    height: auto;
    background: white;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px 0 20px 0;

}

#fourthDiv{
    display: block;
    margin: auto;
    width: 500px;
    height: auto;
    background: white;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 0 20px 0;

}